{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md sm:p-8">
    <h2 class="text-2xl font-bold mb-6 text-center">Регистрация</h2>
    <form method="post" class="space-y-6">
        <div>
            <label class="block text-sm font-medium">Логин</label>
            <input type="text" name="username" class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300 text-base">
        </div>
        <div>
            <label class="block text-sm font-medium">Пароль</label>
            <input type="password" name="password" class="w-full p-3 border rounded-lg focus:ring focus:ring-blue-300 text-base">
        </div>
        <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700 button-press transition duration-300 text-base">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}