{% extends 'base.html' %}
{% block title %}Просмотр контента{% endblock %}
{% block content %}
<h2 class="text-2xl font-bold mb-6 sm:text-3xl">Контент для события</h2>
{% if contents %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">
    {% for content in contents %}
    <div class="bg-white p-4 rounded-lg shadow-md sm:p-6">
        <h3 class="text-lg font-semibold sm:text-xl">{{ content.description }}</h3>
        {% if content.content %}
        <p class="text-gray-600 mt-2 text-sm sm:text-base">{{ content.content }}</p>
        {% endif %}
        {% if content.photos %}
        <div class="grid grid-cols-1 gap-2 mt-2">
            {% for photo in content.photos %}
            <img src="{{ url_for('uploaded_file', filename=photo.photo_path) }}" class="w-full max-w-full h-48 object-contain rounded" alt="Фото">
            {% endfor %}
        </div>
        {% endif %}
        {% if session.role == 'teacher' and content.id %}
        <div class="mt-4">
            <a href="{{ url_for('delete_content', content_id=content.id) }}" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 button-press transition duration-300 text-sm sm:text-base" onclick="return confirm('Вы уверены, что хотите удалить этот контент?');">Удалить</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-gray-600 text-sm sm:text-base">Контент для этого события отсутствует.</p>
{% endif %}
{% endblock %}